{% extends 'layout.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="text-head wow animated fadeIn">
            <h1>{{ "showcase_about_title"|trans }}</h1>
        </div>
        <p class=" text-center wow animated fadeIn">{{ "showcase_about_introduction_block"|trans|nl2br }}</p>
        <br/>
         <div class="embed-responsive embed-responsive-16by9 wow animated fadeIn">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UBTN8qBHZHA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>
        <!--staff block--->
        <section class="staff-block">
            <div class="container">
                <div class="text-head wow animated fadeIn">
                    <h1>{{ "showcase_about_teachers_block_title"|trans }}</h1>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3 instructor">
                        <div class="staff-image wow animated fadeIn">
                            {#bastidas_virginia.jpg#}
                            <img class="img-responsive"
                                 src="{{ asset('images/bastidas_virginia.jpg') }}">
                            <div class="overlay">
                                <a class="info">{{ "showcase_about_teacher_name_1"|trans }}
                                    <small>{{ "showcase_about_teacher_course_1"|trans }}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 instructor">
                        <div class="staff-image wow animated fadeIn">
                            <img class="img-responsive" src="{{ asset('images/judit.jpeg') }}">
                            <div class="overlay">
                                <a class="info">{{ "showcase_about_teacher_name_2"|trans }}
                                    <small>{{ "showcase_about_teacher_course_2"|trans }}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 instructor">
                        <div class="staff-image wow animated fadeIn">
                            <img class="img-responsive" src="{{ asset('images/faye_salva.jpg') }}">
                            <div class="overlay">
                                <a class="info">{{ "showcase_about_teacher_name_3"|trans }}
                                    <small>{{ "showcase_about_teacher_course_3"|trans }}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 instructor">
                        <div class="staff-image wow animated fadeIn">
                            <img class="img-responsive" src="{{ asset('images/fernandez_christian.jpg') }}">
                            <div class="overlay">
                                <a class="info">{{ "showcase_about_teacher_name_4"|trans }}
                                    <small>{{ "showcase_about_teacher_course_4"|trans }}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3 instructor">
                        <div class="staff-image wow animated fadeIn">
                            <img class="img-responsive" src="{{ asset('images/goncalvez_helena.jpg') }}">
                            <div class="overlay">
                                <a class="info">{{ "showcase_about_teacher_name_5"|trans }}
                                    <small>{{ "showcase_about_teacher_course_5"|trans }}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 instructor">
                        <div class="staff-image wow animated fadeIn">
                            <img class="img-responsive" src="{{ asset('images/londono_jerson.jpg') }}">
                            <div class="overlay">
                                <a class="info">{{ "showcase_about_teacher_name_6"|trans }}
                                    <small>{{ "showcase_about_teacher_course_6"|trans }}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 instructor">
                        <div class="staff-image wow animated fadeIn">
                            <img class="img-responsive" src="{{ asset('images/laia.jpeg') }}">
                            <div class="overlay">
                                <a class="info">{{ "showcase_about_teacher_name_7"|trans }}
                                    <small>{{ "showcase_about_teacher_course_7"|trans }}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 instructor">
                        <div class="staff-image wow animated fadeIn">
                            <img class="img-responsive" src="{{ asset('images/nerea.jpg') }}">
                            <div class="overlay">
                                <a class="info">{{ "showcase_about_teacher_name_8"|trans }}
                                    <small>{{ "showcase_about_teacher_course_8"|trans }}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3 instructor">
                        <div class="staff-image wow animated fadeIn">
                            <img class="img-responsive" src="{{ asset('images/morales_cristian.jpg') }}">
                            <div class="overlay">
                                <a class="info">{{ "showcase_about_teacher_name_9"|trans }}
                                    <small>{{ "showcase_about_teacher_course_9"|trans }}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 instructor">
                        <div class="staff-image wow animated fadeIn">
                            <img class="img-responsive" src="{{ asset('images/sans_jurdina.jpg') }}">
                            <div class="overlay">
                                <a class="info">{{ "showcase_about_teacher_name_10"|trans }}
                                    <small>{{ "showcase_about_teacher_course_10"|trans }}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 instructor">
                        <div class="staff-image wow animated fadeIn">
                            <img class="img-responsive" src="{{ asset('images/torao_max.jpg') }}">
                            <div class="overlay">
                                <a class="info">{{ "showcase_about_teacher_name_11"|trans }}
                                    <small>{{ "showcase_about_teacher_course_11"|trans }}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 instructor">
                        <div class="staff-image wow animated fadeIn">
                            <img class="img-responsive" src="{{ asset('images/anna.jpg') }}">
                            <div class="overlay">
                                <a class="info">{{ "showcase_about_teacher_name_12"|trans }}
                                    <small>{{ "showcase_about_teacher_course_12"|trans }}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}