{% extends 'layout.html.twig' %}
{% block body %}
    <!--carousel--->
    <div id="myCarousel" class="carousel slide banner" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active"><img src="{{ asset('images/banner.jpg') }}" style="width:100%" alt="First slide">
                <div class="carousel-caption">
                    <div class="carousel-caption-inner">
                        <h1>{{ "showcase_index_carousel_el1"|trans }}</h1>
                    </div>
                </div>
            </div>
            <div class="item"><img src="{{ asset('images/banner2.jpg') }}" style="width:100%" alt="second slide">
                <div class="carousel-caption">
                    <div class="carousel-caption-inner">
                        <h1>{{ "showcase_index_carousel_el1"|trans }}</h1>
                    </div>
                </div>
            </div>
            <div class="item"><img src="{{ asset('images/banner3.jpg') }}" style="width:100%" alt="third slide">
                <div class="carousel-caption">
                    <div class="carousel-caption-inner">
                        <h1>{{ "showcase_index_carousel_el1"|trans }}</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>-
    <div class="clearfix"></div>

    <!--special block--->
    <section class="welcome-block">
        <div class="container">
            <div class="text-head wow animated fadeInUp">
                <h1>{{ "showcase_index_welcome_message"|trans }}</h1>
            </div>

            <div class="welcome-block-full-image">
                <div>
                    <h2>{{ "showcase_index_welcome_pre_text"|trans }}</h2>
                    <p>{{ "showcase_index_welcome_text"|trans }}</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>

    <!--special block--->
    <section class="special-block">
        <div class="container">
            <div class="text-head wow animated fadeInUp">
                <h1>{{ "showcase_index_taught_styles_title"|trans }}</h1>
            </div>
            <!--carousel--->
            <div class="height-135"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 remove-both-padd">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="style-image wow animated fadeInLeft">
                            <a href="{{ path('styles') }}"><img src="{{ asset('images/estil-classic1.png') }}" class="img-responsive center-block"></a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="style-image wow animated fadeInUp">
                            <a href="{{ path('styles') }}"><img src="{{ asset('images/estil-social2.png') }}" class="img-responsive center-block"></a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="style-image wow animated fadeInRight">
                            <a href="{{ path('styles') }}"> <img src="{{ asset('images/estil-urban1.png') }}" class="img-responsive center-block"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>

    <!--subscribe-->
    {#<section class="subscribe-block">#}
        {#<div class="subscribe-full-image">#}
            {#<div class="container">#}
                {#<div class="row">#}
                    {#<div class="col-md-7 col-sm-6 col-xs-12">#}
                        {#<div class="subscribe-info">#}
                            {#<h2>Abonne-toi à la newsletter</h2>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-md-5 col-sm-6 col-xs-12">#}
                        {#<div class="subscribe-form">#}
                            {#<form>#}
                                {#<input type="text" placeholder="Email">#}
                                {#<button class="submit-btn">Envoyer</button>#}
                            {#</form>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="clearfix"></div>#}
    {#</section>#}

    <!--contact us-->
    <section class="contact-block">
        <div class="container">
            <div class="text-head wow animated fadeInUp">
                <h1>{{ "showcase_footer_title_info"|trans }}</h1>
            </div>

        </div>
        <div class="contact-block-full-image wow animated fadeInUp">
            <div class="container">
                {% block form_content %}
                    {% include "@AppBundle/Partials/contact_content.html.twig" %}
                {% endblock form_content %}
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <!---->

{% endblock %}