{% extends 'layout.html.twig' %}
{% block body %}
    <!--carousel--->
    <div id="myCarousel" class="carousel slide banner" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active"> <img src="{{ asset('images/banner.jpg') }}" style="width:100%" alt="First slide">
                <div class="carousel-caption">
                    <div class="carousel-caption-inner">
                        <h1> Trouve ton style</h1>
                    </div>
                </div>
            </div>
            <div class="item"> <img src="{{ asset('images/banner2.jpg') }}" style="width:100%" alt="second slide">
                <div class="carousel-caption">
                    <div class="carousel-caption-inner">
                        <h1> Partage ta passion</h1>
                    </div>
                </div>
            </div>
            <div class="item"> <img src="{{ asset('images/banner3.jpg') }}" style="width:100%" alt="third slide">
                <div class="carousel-caption">
                    <div class="carousel-caption-inner">
                        <h1> Dansons ensemble</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>-
    <div class="clearfix"></div>

    <!--special block--->
    <section class="welcome-block">
        <div class="container">
            <div class="text-head">
                <h1>Bienvenue à l'école de danse Nou Estil</h1>
            </div>

            <div class="welcome-block-full-image">
                <div>
                    <h2>Qui sommes-nous</h2>
                    <p>Escuela de baile fundada en 2006 por Salva FAYE, pionero de las Danzas Urbanas en la provincia de Tarragona. Centro especializado en HipHop Dance y sus variantes de danzas urbanas.
                        Se imparten también danzas de otras disciplinas: Ballet, Contemporáneo, Salsa, etc…</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>

    <!--special block--->
    <section class="special-block">
        <div class="container">
            <div class="text-head">
                <h1>Les styles enseignés</h1>
            </div>
            <!--carousel--->
            <div class="height-135"></div>
            {#<div id="myCarousel2" class="carousel slide" data-ride="carousel">#}
            <!--                    <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                </ol>-->
            {#<div class="carousel-inner">#}
            {#<div class="item active">#}
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 remove-both-padd">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="style-image">
                            <img src="{{ asset('images/estil-classic1.png') }}" class="img-responsive">
                            <div class="overlays">
                                <a class="info" href="#">Mon estil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="style-image">
                            <img src="{{ asset('images/estil-social2.png') }}" class="img-responsive">
                            <div class="overlays">
                                <a class="info" href="#">Classic estil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="style-image">
                            <img src="{{ asset('images/estil-urban1.png') }}" class="img-responsive">
                            <div class="overlays">
                                <a class="info" href="#">Urba Estil</a>
                            </div>
                        </div>
                    </div>
                </div>
                {#</div>#}
                {#</div>#}
                {#<div class="item">#}
                {#<div class="row">#}
                {#<div class="col-md-12 col-sm-12 col-xs-12 remove-both-padd">#}
                {#<div class="col-md-4 col-sm-4 col-xs-4">#}
                {#<div class="style-image">#}
                {#<img src="{{ asset('images/estil-classic1.png') }}" class="img-responsive">#}
                {#<div class="overlay">#}
                {#<a class="info" href="#">estil classic</a>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-md-4 col-sm-4 col-xs-4">#}
                {#<div class="style-image">#}
                {#<img src="{{ asset('images/estil-social2.png') }}" class="img-responsive">#}
                {#<div class="overlay">#}
                {#<a class="info" href="#">estil social</a>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-md-4 col-sm-4 col-xs-4">#}
                {#<div class="style-image">#}
                {#<img src="{{ asset('images/estil-urban1.png') }}" class="img-responsive">#}
                {#<div class="overlay">#}
                {#<a class="info" href="#">estil urban</a>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}

                {#</div>#}
                {#<a data-slide="prev" class="left carousel-control"> <img alt="left" onmouseout="this.src = '{{ asset('images/icons/prev.png') }}'" onmouseover="this.src = '{{ asset('images/icons/prev-hover.png') }}'" src="{{ asset('images/icons/prev.png') }}"></a>#}
                {#<a data-slide="next" class="right carousel-control"><img alt="left" onmouseout="this.src = '{{ asset('images/icons/next.png') }}'" onmouseover="this.src = '{{ asset('images/icons/next-hover.png') }}'" src="{{ asset('images/icons/next.png') }}"></a>#}

                {#</div>#}

            </div>
            <div class="clearfix"></div>
    </section>

    <!--subscribe-->
    <section class="subscribe-block">
        <div class="subscribe-full-image">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-6 col-xs-12">
                        <div class="subscribe-info">
                            <h2>Abonne-toi à la newsletter</h2>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="subscribe-form">
                            <form>
                                <input type="text" placeholder="Email">
                                <button class="submit-btn">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>

    <!--contact us-->
    <section class="contact-block">
        <div class="container">
            <div class="text-head">
                <h1>Nous contacter</h1>
            </div>

        </div>
        <div class="contact-block-full-image">
            <div class="container">
                <form name="sentMessage" id="contactForm">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input type="text" id="name1" class="form-control" placeholder="Nom" required="" aria-invalid="false">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input type="text" id="contact1" class="form-control" placeholder="Numéro de téléphone" required="">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input type="email" id="email1" class="form-control" placeholder="Email" required="">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input type="text" id="category1" class="form-control" placeholder="Sujet" required="">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="message" id="message1" class="form-control" rows="4" placeholder="Message" required="" aria-invalid="false"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div id="success"></div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg btn-button">Effacer</button>
                        <button type="submit" class="btn btn-lg btn-button">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <!---->

{% endblock %}