{% extends 'layout.html.twig' %}
{% block body %}
    <!--carousel--->
    <div id="myCarousel" class="carousel slide banner" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active"> <img src="{{ asset('images/banner.jpg') }}" style="width:100%" alt="First slide">
                <div class="carousel-caption">
                    <div class="carousel-caption-inner">
                        <h1>Create your own style</h1>
                    </div>
                </div>
            </div>
            <div class="item"> <img src="{{ asset('images/banner.jpg') }}" style="width:100%" alt="second slide">
                <div class="carousel-caption">
                    <div class="carousel-caption-inner">
                        <h1>Encuentra tu estilo</h1>
                    </div>
                </div>
            </div>
            <div class="item"> <img src="{{ asset('images/banner.jpg') }}" style="width:100%" alt="third slide">
                <div class="carousel-caption">
                    <div class="carousel-caption-inner">
                        <h1>los estilos de danza</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>-
    <div class="clearfix"></div>

    <!--special block--->
    <section class="welcome-block">
        <div class="container">
            <div class="text-head">
                <h1>Bienvenido a Nou Estil escola de bal</h1>
            </div>

            <div class="welcome-block-full-image">
                <div>
                    <h2>About us</h2>
                    <p>Escuela de baile fundada en 2006 por Salva FAYE, pionero de las Danzas Urbanas en la provincia de Tarragona. Centro especializado en HipHop Dance y sus variantes de danzas urbanas.
                        Se imparten también danzas de otras disciplinas: Ballet, Contemporáneo, Salsa, etc…</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>

    <!--special block--->
    <section class="special-block">
        <div class="container">
            <div class="text-head">
                <h1>Our dance style</h1>
            </div>
            <!--carousel--->
            <div class="height-135"></div>
            {#<div id="myCarousel2" class="carousel slide" data-ride="carousel">#}
            <!--                    <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                </ol>-->
            {#<div class="carousel-inner">#}
            {#<div class="item active">#}
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 remove-both-padd">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="style-image">
                            <img src="{{ asset('images/estil-classic1.png') }}" class="img-responsive">
                            <div class="overlay">
                                <a class="info" href="#">estil classic</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="style-image">
                            <img src="{{ asset('images/estil-social2.png') }}" class="img-responsive">
                            <div class="overlay">
                                <a class="info" href="#">estil social</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="style-image">
                            <img src="{{ asset('images/estil-urban1.png') }}" class="img-responsive">
                            <div class="overlay">
                                <a class="info" href="#">estil urban</a>
                            </div>
                        </div>
                    </div>
                </div>
                {#</div>#}
                {#</div>#}
                {#<div class="item">#}
                {#<div class="row">#}
                {#<div class="col-md-12 col-sm-12 col-xs-12 remove-both-padd">#}
                {#<div class="col-md-4 col-sm-4 col-xs-4">#}
                {#<div class="style-image">#}
                {#<img src="{{ asset('images/estil-classic1.png') }}" class="img-responsive">#}
                {#<div class="overlay">#}
                {#<a class="info" href="#">estil classic</a>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-md-4 col-sm-4 col-xs-4">#}
                {#<div class="style-image">#}
                {#<img src="{{ asset('images/estil-social2.png') }}" class="img-responsive">#}
                {#<div class="overlay">#}
                {#<a class="info" href="#">estil social</a>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-md-4 col-sm-4 col-xs-4">#}
                {#<div class="style-image">#}
                {#<img src="{{ asset('images/estil-urban1.png') }}" class="img-responsive">#}
                {#<div class="overlay">#}
                {#<a class="info" href="#">estil urban</a>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}

                {#</div>#}
                {#<a data-slide="prev" class="left carousel-control"> <img alt="left" onmouseout="this.src = '{{ asset('images/icons/prev.png') }}'" onmouseover="this.src = '{{ asset('images/icons/prev-hover.png') }}'" src="{{ asset('images/icons/prev.png') }}"></a>#}
                {#<a data-slide="next" class="right carousel-control"><img alt="left" onmouseout="this.src = '{{ asset('images/icons/next.png') }}'" onmouseover="this.src = '{{ asset('images/icons/next-hover.png') }}'" src="{{ asset('images/icons/next.png') }}"></a>#}

                {#</div>#}

            </div>
            <div class="clearfix"></div>
    </section>

    {#<section class="food-block">#}
    {#<div class="container">#}
    {#<div class="text-head">#}
    {#<h1>food lover menu</h1>#}
    {#</div>#}
    {#</div>#}
    {#<div class="height-135"></div>#}
    {#<div class="pos-center">#}
    {#<ul class="nav nav-pills center-pills">#}
    {#<li class="active"><a href="#all" data-toggle="pill">ALL</a></li>#}
    {#<li><a href="#dishes" data-toggle="pill">dishes</a></li>#}
    {#<li><a href="#dinner" data-toggle="pill">dinner</a></li>#}
    {#<li><a href="#lunch" data-toggle="pill">lunch</a></li>#}
    {#<li><a href="#drinks" data-toggle="pill">drinks</a></li>#}
    {#<li><a href="#starters" data-toggle="pill">starters</a></li>#}
    {#</ul>#}
    {#</div>#}
    {#<div class="height-70"></div>#}
    {#<div class="container">#}
    {#<div class="tab-content">#}
    {#<div class="tab-pane fade in active" id="all">#}
    {#<div class="row">#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image5.png" class="img-responsive" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image5.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image6.png" class="img-responsive"/>#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image6.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image7.png" class="img-responsive"/>#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image7.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image8.png" class="img-responsive"/>#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image8.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-md-12 visible-md"><div class="height-70"></div></div>#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image9.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image9.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image10.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image10.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image11.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image11.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image12.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image12.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}

    {#</div>#}
    {#</div>#}
    {#<div class="tab-pane fade" id="dishes">#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image6.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image6.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image7.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image7.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image8.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image8.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="tab-pane fade" id="dinner">#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image11.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image11.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image12.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image12.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="tab-pane fade" id="lunch">#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image10.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image10.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image11.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image11.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image12.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image12.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="tab-pane fade" id="drinks">#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image5.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image5.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image6.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image6.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image7.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image7.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image8.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image8.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="tab-pane fade" id="starters">#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image10.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image10.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image11.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image11.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">#}
    {#<div class="food-image">#}
    {#<img src="images/Home/Image12.png" />#}
    {#<div class="overlay">#}
    {#<a href="#" class="info pop"><img alt="1" class="img-responsive" src="images/Home/Image12.png" style="display: none"><i aria-hidden="true" class="fa fa-plus-square-o"></i></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
    {#<div class="modal-dialog">#}
    {#<div class="modal-content">#}
    {#<div class="modal-body">#}
    {#<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>#}
    {#<div id="myCarousel3" class="carousel slide" data-ride="carousel">#}

    {#<div class="carousel-inner">#}
    {#<div class="item active">#}
    {#<div class="image">#}
    {#<img src="" class="img-responsive imagepreview">#}
    {#</div>#}
    {#</div>#}
    {#<div class="item">#}
    {#<div class="image">#}
    {#<img src="images/Home/Image6.png" class="img-responsive">#}
    {#</div>#}
    {#</div>#}

    {#</div>#}

    {#</div>#}

    {#</div>#}
    {#<a data-slide="prev" href="#myCarousel3" class="left carousel-control"> <img alt="left" onmouseout="this.src = 'images/icons/prev-white.png'" onmouseover="this.src = 'images/icons/prev-hover.png'" src="images/icons/prev-white.png"></a>#}
    {#<a data-slide="next" href="#myCarousel3" class="right carousel-control"><img alt="left" onmouseout="this.src = 'images/icons/next-white.png'" onmouseover="this.src = 'images/icons/next-hover.png'" src="images/icons/next-white.png"></a>#}

    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}



    {#<div class="clearfix"></div>#}
    {#</section>#}

    <!--service block--->
    {#<section class="service-block">#}
    {#<div class="container">#}
    {#<div class="row">#}
    {#<div class="col-md-6 col-sm-12 col-xs-12">#}
    {#<div class="text-head">#}
    {#<h1>our services</h1>#}
    {#</div>#}
    {#<div class="height-135"></div>#}
    {#<div class="row">#}
    {#<div class="col-md-12">#}
    {#<div class="col-md-6 col-sm-4 col-xs-6 remove-padd">#}
    {#<div class="event-image">#}
    {#<img src="images/Home/Image13.png" class="img-responsive">#}
    {#<div class="overlay">#}
    {#<a class="info" href="#">Birthdays</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-md-6 col-sm-4 col-xs-6 remove-padd">#}
    {#<div class="event-image">#}
    {#<img src="images/Home/Image15.png" class="img-responsive">#}
    {#<div class="overlay">#}
    {#<a class="info" href="#">Weddings</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-md-6 col-sm-4 col-xs-6 remove-padd">#}
    {#<div class="event-image">#}
    {#<img src="images/Home/Image14.png" class="img-responsive">#}
    {#<div class="overlay">#}
    {#<a class="info" href="#">Business Events</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}

    {#<div class="col-md-6 col-sm-4 col-xs-6 remove-padd">#}
    {#<div class="event-image">#}
    {#<img src="images/Home/Image16.png" class="img-responsive">#}
    {#<div class="overlay">#}
    {#<a class="info" href="#">Party & Others</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-md-6 col-sm-12 col-xs-12">#}
    {#<div class="text-head add-top-space">#}
    {#<h1>customer feedback</h1>#}
    {#</div>#}
    {#<div class="height-135"></div>#}
    {#<div class="set-border-left">#}
    {#<div data-ride="carousel" class="carousel slide" id="myCarousel4">#}
    {#<div class="carousel-inner">#}
    {#<div class="item active">#}
    {#<div class="feedback-content">#}
    {#<div class="feedback-box">#}
    {#<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa loremi psum dolor sitamet, consectetuer adipiscing elit aenean commodo ligula eget do an massa consectetuer adipiscing elit</p>#}
    {#</div>#}
    {#<div class="feedback-title"><a><i class="fa fa-user"></i></a><span>DAVID WARNER</span></div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="item">#}
    {#<div class="feedback-content">#}
    {#<div class="feedback-box">#}
    {#<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa loremi psum dolor sitamet, consectetuer adipiscing elit aenean commodo ligula eget do an massa consectetuer adipiscing elit</p>#}
    {#</div>#}
    {#<div class="feedback-title"><a><i class="fa fa-user"></i></a><span>DAVID WARNER</span></div>#}
    {#</div>#}
    {#</div>#}

    {#</div>#}
    {#<a data-slide="prev" href="#myCarousel4" class="left carousel-control"> <img alt="left" onmouseout="this.src = 'images/icons/left.png'" onmouseover="this.src = 'images/icons/left-hover.png'" src="images/icons/left.png"></a>#}
    {#<a data-slide="next" href="#myCarousel4" class="right carousel-control"><img alt="left" onmouseout="this.src = 'images/icons/right.png'" onmouseover="this.src = 'images/icons/right-hover.png'" src="images/icons/right.png"></a>#}
    {#</div>#}
    {#<div class="black-line"><hr/></div>#}
    {#<div data-ride="carousel" class="carousel slide" id="myCarousel5">#}
    {#<div class="carousel-inner">#}
    {#<div class="item active">#}
    {#<div class="feedback-content">#}
    {#<div class="feedback-box">#}
    {#<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa loremi psum dolor sitamet, consectetuer adipiscing elit aenean commodo ligula eget do an massa consectetuer adipiscing elit</p>#}
    {#</div>#}
    {#<div class="feedback-title"><a><i class="fa fa-user"></i></a><span>DAVID WARNER</span></div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="item">#}
    {#<div class="feedback-content">#}
    {#<div class="feedback-box">#}
    {#<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa loremi psum dolor sitamet, consectetuer adipiscing elit aenean commodo ligula eget do an massa consectetuer adipiscing elit</p>#}
    {#</div>#}
    {#<div class="feedback-title"><a><i class="fa fa-user"></i></a><span>DAVID WARNER</span></div>#}
    {#</div>#}
    {#</div>#}
    {#<a data-slide="prev" href="#myCarousel5" class="left carousel-control"> <img alt="left" onmouseout="this.src = 'images/icons/left.png'" onmouseover="this.src = 'images/icons/left-hover.png'" src="images/icons/left.png"></a>#}
    {#<a data-slide="next" href="#myCarousel5" class="right carousel-control"><img alt="left" onmouseout="this.src = 'images/icons/right.png'" onmouseover="this.src = 'images/icons/right-hover.png'" src="images/icons/right.png"></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}

    {#</div>#}
    {#</section>#}

    {#<!--book block--->#}
    {#<section class="book-block">#}
    {#<div class="container">#}
    {#<div class="text-head">#}
    {#<h1>book your table</h1>#}
    {#</div>#}

    {#</div>#}
    {#<div class="book-block-full-image">#}
    {#<div class="container">#}
    {#<form id="contactForm" name="sentMessage">#}
    {#<div class="row">#}
    {#<div class="col-md-4 col-sm-6 col-xs-12">#}
    {#<div class="form-group">#}
    {#<input type="text" aria-invalid="false" required="" placeholder="Name" class="form-control" id="name">#}
    {#<p class="help-block text-danger"></p>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-md-4 col-sm-6 col-xs-12">#}
    {#<div class="form-group">#}
    {#<input type="text" required="" placeholder="Contact Number" class="form-control" id="contact">#}
    {#<p class="help-block text-danger"></p>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-md-4 col-sm-6 col-xs-12">#}
    {#<div class="form-group">#}
    {#<input type="email" required="" placeholder="Email id" class="form-control" id="email">#}
    {#<p class="help-block text-danger"></p>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-md-4 col-sm-6 col-xs-12">#}
    {#<div class="form-group">#}
    {#<input type="text" required="" placeholder="Number of person" class="form-control" id="person">#}
    {#<p class="help-block text-danger"></p>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-md-4 col-sm-6 col-xs-12">#}
    {#<div class="form-group">#}
    {#<input type="text" required="" placeholder="book date" class="form-control" id="bookdate">#}
    {#<p class="help-block text-danger"></p>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-md-4 col-sm-6 col-xs-12">#}
    {#<div class="form-group">#}
    {#<input type="text" required="" placeholder="your date" class="form-control" id="yourdate">#}
    {#<p class="help-block text-danger"></p>#}
    {#</div>#}
    {#</div>#}


    {#</div>#}
    {#<div class="form-group">#}
    {#<textarea aria-invalid="false" required="" placeholder="Message of request" rows="4" class="form-control" id="message" name="message"></textarea>#}
    {#<p class="help-block text-danger"></p>#}
    {#</div>#}
    {#<div id="success"></div>#}
    {#<div class="text-center">#}
    {#<button class="btn btn-lg btn-button" type="submit">clear</button>#}
    {#<button class="btn btn-lg btn-button" type="submit">send</button>#}
    {#</div>#}
    {#</form>#}
    {#</div>#}
    {#</div>#}
    {#</section>#}

    {#<!--book block--->#}
    {#<section class="book-block">#}
    {#<div class="container">#}
    {#<div class="text-head">#}
    {#<h1>UPCOMING EVENTS</h1>#}
    {#</div>#}
    {#<div class="height-135"></div>#}
    {#<div class="row">#}
    {#<div class="col-md-6 col-sm-6 col-xs-12">#}
    {#<div class="event-image">#}
    {#<a href="single-blog.html"><img src="images/Home/Image18.png" class="img-responsive"></a>#}
    {#</div>#}
    {#<div class="blog-views">#}
    {#<h4><a href="single-blog.html">lorem ipsum dolor sit amet</a></h4>#}
    {#<p>25 Dec 2014</p>#}
    {#</div>#}
    {#<div class="event-desc">#}
    {#<p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus musdhe Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoq penatibus et magnis dis parturient montes, nascetur ridiculus...</p>#}
    {#</div>#}
    {#<a class="read-more">Read More</a>#}
    {#</div>#}
    {#<div class="col-md-6 col-sm-6 col-xs-12 margin-t15">#}
    {#<div class="event-image">#}
    {#<a href="single-blog.html"><img src="images/Home/Image19.png" class="img-responsive"></a>#}
    {#</div>#}
    {#<div class="blog-views">#}
    {#<h4> <a href="single-blog.html">lorem ipsum dolor sit amet</a></h4>#}
    {#<p>25 Dec 2014</p>#}
    {#</div>#}
    {#<div class="event-desc">#}
    {#<p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus musdhe Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoq penatibus et magnis dis parturient montes, nascetur ridiculus...</p>#}
    {#</div>#}
    {#<a class="read-more">Read More</a>#}
    {#</div>#}
    {#</div>#}

    {#</div>#}
    {#<div class="clearfix"></div>#}
    {#</section>#}

    {#<!--counter block---->#}
    {#<section class="counter-block">#}
    {#<div class="counter-full-image">#}
    {#<div class="container">#}
    {#<div class="row">#}
    {#<div class="col-md-3 col-sm-3 col-xs-12">#}
    {#<div class="counter" data-slno="1" data-min="0" data-max="300" data-delay=".5" data-increment="2">300</div>#}
    {#<p>best dishes</p>#}
    {#</div>#}
    {#<div class="col-md-3 col-sm-3 col-xs-12">#}
    {#<div class="counter" data-slno="1" data-min="0" data-max="225" data-delay="8" data-increment="1">225</div>#}
    {#<p>awards won</p>#}
    {#</div>#}
    {#<div class="col-md-3 col-sm-3 col-xs-12">#}
    {#<div class="counter" data-slno="1" data-min="0" data-max="35" data-delay=".5" data-increment="11">35</div>#}
    {#<p>our chefs</p>#}
    {#</div>#}
    {#<div class="col-md-3 col-sm-3 col-xs-12">#}
    {#<div class="counter" data-slno="1" data-min="0" data-max="400" data-delay="8" data-increment="1">400</div>#}
    {#<p>daily customers</p>#}
    {#</div>#}
    {#<div class="clearfix"></div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="clearfix"></div>#}
    {#</section>#}

    <!--subscribe-->
    <section class="subscribe-block">
        <div class="subscribe-full-image">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-6 col-xs-12">
                        <div class="subscribe-info">
                            <h2>subscribe newsletter</h2>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="subscribe-form">
                            <form>
                                <input type="text" placeholder="Email id">
                                <button class="submit-btn">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>

    <!--contact us-->
    <section class="contact-block">
        <div class="container">
            <div class="text-head">
                <h1>contact us</h1>
            </div>

        </div>
        <div class="contact-block-full-image">
            <div class="container">
                <form name="sentMessage" id="contactForm">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input type="text" id="name1" class="form-control" placeholder="Name" required="" aria-invalid="false">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input type="text" id="contact1" class="form-control" placeholder="Contact Number" required="">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input type="email" id="email1" class="form-control" placeholder="Email id" required="">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input type="text" id="category1" class="form-control" placeholder="category" required="">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="message" id="message1" class="form-control" rows="4" placeholder="Message" required="" aria-invalid="false"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div id="success"></div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg btn-button">clear</button>
                        <button type="submit" class="btn btn-lg btn-button">send</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <!---->

{% endblock %}