{% extends 'layout.html.twig' %}
{% block body %}
    <section class="padd-top-60">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center wow animated fadeIn">
                    <h1>{{ "showcase_styles_cat1_title"|trans }}<span class="text-thin"></span></h1>
                </div>
            </div>
            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8 col-md-offset-1 wow animated fadeInLeft">
                    <h4>{{ "showcase_styles_cat1_el1_title"|trans }}</h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el1_content"|trans }}</p>
                </div>
                <div class="col-xs-3 wow animated fadeInRight">
                    <h4></h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el1_age"|trans }}</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8 col-md-offset-1 wow animated fadeInLeft">
                    <h4>{{ "showcase_styles_cat1_el2_title"|trans }}</h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el2_content"|trans }}</p>
                </div>
                <div class="col-xs-3 wow animated fadeInRight">
                    <h4></h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el2_age"|trans }}</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8 col-md-offset-1 wow animated fadeInLeft">
                    <h4>{{ "showcase_styles_cat1_el3_title"|trans }}</h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el3_content"|trans }}</p>
                </div>
                <div class="col-xs-3 wow animated fadeInRight">
                    <h4></h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el3_age"|trans }}</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8 col-md-offset-1 wow animated fadeInLeft">
                    <h4>{{ "showcase_styles_cat1_el4_title"|trans }}</h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el4_content"|trans }}</p>
                </div>
                <div class="col-xs-3 wow animated fadeInRight">
                    <h4></h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el4_age"|trans }}</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8 col-md-offset-1 wow animated fadeInLeft">
                    <h4>{{ "showcase_styles_cat1_el5_title"|trans }}</h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el5_content"|trans }}</p>
                </div>
                <div class="col-xs-3 wow animated fadeInRight">
                    <h4></h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el5_age"|trans }}</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8 col-md-offset-1 wow animated fadeInLeft">
                    <h4>{{ "showcase_styles_cat1_el6_title"|trans }}</h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el6_content"|trans }}</p>
                </div>
                <div class="col-xs-3 wow animated fadeInRight">
                    <h4></h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el6_age"|trans }}</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8 col-md-offset-1 wow animated fadeInLeft">
                    <h4>{{ "showcase_styles_cat1_el7_title"|trans }}</h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el7_content"|trans }}</p>
                </div>
                <div class="col-xs-3 wow animated fadeInRight">
                    <h4></h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el7_age"|trans }}</p>
                </div>
            </div>
        </div>

        <div class="container padd-top-60">
            <div class="row">
                <div class="col-md-12 text-center wow animated fadeIn">
                    <h1>{{ "showcase_styles_cat2_title"|trans }}<span class="text-thin"></span></h1>
                </div>
            </div>
            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8 col-md-offset-1 wow animated fadeInLeft">
                    <h4>{{ "showcase_styles_cat1_el8_title"|trans }}</h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el8_content"|trans }}</p>
                </div>
                <div class="col-xs-3 wow animated fadeInRight">
                    <h4></h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el8_age"|trans }}</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8 col-md-offset-1 wow animated fadeInLeft">
                    <h4>{{ "showcase_styles_cat1_el9_title"|trans }}</h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el9_content"|trans }}</p>
                </div>
                <div class="col-xs-3 wow animated fadeInRight">
                    <h4></h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el9_age"|trans }}</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8 col-md-offset-1 wow animated fadeInLeft">
                    <h4>{{ "showcase_styles_cat1_el10_title"|trans }}</h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el10_content"|trans }}</p>
                </div>
                <div class="col-xs-3 wow animated fadeInRight">
                    <h4></h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el10_age"|trans }}</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8 col-md-offset-1 wow animated fadeInLeft">
                    <h4>{{ "showcase_styles_cat1_el11_title"|trans }}</h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el11_content"|trans }}</p>
                </div>
                <div class="col-xs-3 wow animated fadeInRight">
                    <h4></h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el11_age"|trans }}</p>
                </div>
            </div>

        </div>

        <div class="container padd-top-60">
            <div class="row">
                <div class="col-md-12 text-center wow animated fadeIn">
                    <h1>{{ "showcase_styles_cat3_title"|trans }}<span class="text-thin"></span></h1>
                </div>
            </div>
            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8 col-md-offset-1 wow animated fadeInLeft">
                    <h4>{{ "showcase_styles_cat1_el12_title"|trans }}</h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el12_content"|trans }}</p>
                </div>
                <div class="col-xs-3 wow animated fadeInRight">
                    <h4></h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el12_age"|trans }}</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8 col-md-offset-1 wow animated fadeInLeft">
                    <h4>{{ "showcase_styles_cat1_el13_title"|trans }}e</h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el13_content"|trans }}</p>
                </div>
                <div class="col-xs-3 wow animated fadeInRight">
                    <h4></h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el13_age"|trans }}</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8 col-md-offset-1 wow animated fadeInLeft">
                    <h4>{{ "showcase_styles_cat1_el14_title"|trans }}</h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el14_content"|trans }}</p>
                </div>
                <div class="col-xs-3 wow animated fadeInRight">
                    <h4></h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el14_age"|trans }}</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8 col-md-offset-1 wow animated fadeInLeft">
                    <h4>{{ "showcase_styles_cat1_el15_title"|trans }}</h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el15_content"|trans }}</p>
                </div>
                <div class="col-xs-3 wow animated fadeInRight">
                    <h4></h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el15_age"|trans }}</p>
                </div>
            </div>
            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8 col-md-offset-1 wow animated fadeInLeft">
                    <h4>{{ "showcase_styles_cat1_el16_title"|trans }}</h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el16_content"|trans }}</p>
                </div>
                <div class="col-xs-3 wow animated fadeInRight">
                    <h4></h4>
                    <p class="extra-small-content">{{ "showcase_styles_cat1_el16_age"|trans }}</p>
                </div>
            </div>
            <div class="row margin-t60 custom-grid">
            </div>

        </div>
        <div class="clearfix"></div>
    </section>
{% endblock %}