<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Nou Estil | Escola de ball{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/personnalize.css') }}" type="text/css" rel="stylesheet" media="all"/>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<header>
    {% block header %}{% endblock %}
</header>
<nav>
    {% block nav %}
        <ul id="navigation">
            <li><a href="school.html.twig">La Escola</a></li>
            <li><a href="courses.html.twig">Courses</a></li>
            <li><a href="gallery.html.twig">Gallery</a></li>
            <li><a href="contact.html.twig">Contact</a></li>
        </ul>
    {% endblock %}
</nav>

{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{ asset('js/inspinia.js') }}"></script>
    <script src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>
{% endblock %}

<footer>
    {% block footer %}&copy; Copyright 2018 by IUT de Bayonne et Pays Basque {% endblock %}
</footer>
</body>

</html>
