<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NOUESTIL | Dashboard{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/plugins/toastr/toastr.min.css') }}" rel="stylesheet">
        <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
    {% endblock %}
    {% block pageStylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="gray-bg">
<div class="sk-spinner sk-spinner-pulse" style="position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 99999"></div>
    {{ render(controller( 'AppBundle:Menu:topMenu' )) }}
        {% block body %}{% endblock %}

{% block javascripts %}
    <!-- Mainly scripts -->
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{ asset('js/inspinia.js') }}"></script>
    <script src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>
    <script src="{{ asset('js/plugins/toastr/toastr.min.js') }}"></script>

    {#Stop loader when page is fully loaded#}
    <script>
        $(window).on('load', function() {
            $(".sk-spinner").css({'animation-play-state':'paused','display':'none'});

        });
    </script>
{% block messages %}
    {% for label, messages in app.flashes %}
    {% for message in messages %}
    <script>
        $(function() {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "progressBar": true,
                "preventDuplicates": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "7000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr.{{ label }}('{{ message|trans({}, 'FOSUserBundle') }}');
        });
    </script>
    {% endfor %}
    {% endfor %}
{% endblock %}

{% endblock %}
{% block pageScripts %}
{% endblock %}
</body>
</html>
