<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <title>{% block title %}{{ "showcase_page_title"|trans }}{% endblock %} </title>

    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{{ asset('css/foodeque.css') }}" rel="stylesheet">
        <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<!--header--->
<header>
    {% block header %}
        <div class="container">
            <div class="header-top">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <p>{{ "showcase_address"|trans }}</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                        <p>{{ "showcase_opening_hours"|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 visible-xs">
                        <div class="logo-mobile">
                            <a href="{{ path('home') }}"><img src="{{ asset('favicon-96x96.png') }}" class="img-fluid"/></a>
                        </div>
                    </div>
                    <div id="test" class="col-md-12 col-xs-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse"
                                    data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse text-center" id="myNavbar">
                            <div class="logo hidden-xs">
                                <a href="{{ path('home') }}"><img src="{{ asset('favicon-96x96.png') }}"/></a>
                            </div>
                            <ul class="nav navbar-nav">
                                <li><a href="{{ path('home') }}">{{ "showcase_home_menu"|trans }}</a></li>
                                <li><a href="{{ path('about') }}">{{ "showcase_about_menu"|trans }}</a></li>
                                <li><a href="{{ path('timetable') }}">{{ "showcase_timetable_menu"|trans }}</a></li>
                                <li><a href="{{ path('styles') }}">{{ "showcase_styles_menu"|trans }}</a></li>
                                <li><a href="{{ path('contact') }}">{{ "showcase_contact_menu"|trans }}</a></li>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <li>
                                        <a href="{{ path( "fos_user_profile_show" ) }}">{{ "showcase_profile_menu"|trans }} </a>
                                    </li>
                                {% else %}
                                    <li><a href="{{ path('fos_user_security_login') }}">{{ "showcase_login_menu"|trans }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    {% endblock %}
</header>
<!--end-->
{% block body %}

{% endblock %}

<!--footer-->
<footer>
    {% block footer %}
        <div class="container">
            <div class="row footer-block-main">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 width-50">
                    <div class="footer-block"><h4>{{ "showcase_footer_title_links"|trans }}</h4>
                        <ul class="list-unstyled">
                            <li><a href="{{ path('home') }}">{{ "showcase_home_menu"|trans }}</a></li>
                            <li><a href="{{ path('about') }}">{{ "showcase_about_menu"|trans }}</a></li>
                            <li><a href="{{ path('timetable') }}">{{ "showcase_timetable_menu"|trans }}</a></li>
                            <li><a href="{{ path('styles') }}">{{ "showcase_styles_menu"|trans }}</a></li>
                            <li><a href="{{ path('contact') }}">{{ "showcase_contact_menu"|trans }}</a></li>
                            <li><a href="{{ path('fos_user_security_login') }}">{{ "showcase_login_menu"|trans }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 width-50">
                    <div class="footer-block"><h4>{{ "showcase_footer_title_info"|trans }}</h4>
                        <ul class="list-unstyled">
                            <li>{{ "showcase_footer_tel_info"|trans }}</li>
                            <li>{{ "showcase_footer_mail_info"|trans }}</li>
                            <li>{{ "showcase_opening_hours"|trans }}</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                    <div class="footer-block margin-t15"><h4>{{ "showcase_footer_title_insta"|trans }}</h4>
                        <div class="row">
                            <div id="instafeed"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <hr/>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="social-grid text-right">
                        <ul>
                            <li><a target="blank" href="https://www.facebook.com/NouEstilSalou/"><i
                                            class="fa fa-facebook"></i></a></li>
                            <li><a target="blank" href="https://www.instagram.com/nouestilsalou/"><i
                                            class="fa fa-instagram"></i></a></li>
                            <li><a target="blank" href="https://www.youtube.com/user/nouestilsalou"><i
                                            class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        © 2018 All right reserved Nouestil. Designed by <a href="http://www.themevault.net/" target="_blank">ThemeVault.</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</footer>
<!--end-->

<!--back to top--->
<a id="back-to-top" class="scrollTop back-to-top" href="javascript:void(0);" style="display: none;">
    <img src="{{ asset('images/icons/top-arrow.png') }}"
         onmouseover="this.src = '{{ asset('images/icons/top-arrow2.png') }}'"
         onmouseout="this.src = '{{ asset('images/icons/top-arrow.png') }}'" alt="left">
</a>
<!--end--->
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/counterup.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/waypoints.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/instafeed.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/custom.js') }}" type="text/javascript"></script>
    <script>
        $('a[href="' + location.pathname + '"]').parents('li,ul').addClass('active');
    </script>
{% endblock %}

</body>
</html>
