{% extends 'base-menu.html.twig' %}
{% block pageStylesheets %}
    <link href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ "Liste des cours"|trans }}</h5>
                    <div class="ibox-tools">
                        <a href="#" class="btn btn-primary btn-xs"><span data-toggle="modal" data-target="#addCourseModal">{{ "Créer un cours"|trans }}</span></a>
                        <div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                {{ form_start(formCreateCourse, {'action': path('addCourse') }) }}
                                {{ form_errors(formCreateCourse) }}
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            {{ "Créer un cours"|trans }}
                                        </h4>
                                    </div>
                                    <div class=modal-body">
                                        {{ form_row(formCreateCourse.style) }}
                                        {{ form_row(formCreateCourse.category) }}
                                        {{ form_row(formCreateCourse.timeslot) }}
                                        {{ form_row(formCreateCourse.userTeach) }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">{{ "Fermer"|trans }}</button>
                                        <button type="submit" class="btn btn-primary">{{ "Sauvegarder"|trans }}</button>
                                    </div>
                                </div>
                                {{ form_end(formCreateCourse) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                            <tr>
                                <th class="exportable">#</th>
                                <th class="exportable">{{ "Style"|trans }}</th>
                                <th class="exportable">{{ "Catégorie"|trans }}</th>
                                <th class="exportable">{{ "Plage horaire"|trans }}</th>
                                <th class="exportable">{{ "Professeur"|trans }}</th>
                                <th>{{ "Élèves"|trans }}</th>
                                <th>{{ "Actions"|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for course in courses %}
                                <tr>
                                    <td class="exportable">{{ course.id }}</td>
                                    <td class="exportable">{{ course.style }}</td>
                                    <td class="exportable">{{ course.category }}</td>
                                    <td class="exportable">{{ course.timeslot }}</td>
                                    <td class="exportable">{{ course.userTeach }}</td>
                                    <td>
                                        <a href="{{ path('checklist', {'courseId': course.id}) }}"><span class="label label-default">{{ "Faire l'appel"|trans }}</span></a>
                                        <a href="{{ path('usersCourse',{'courseId': course.id}) }}"><span class="label label-default"><i class="fa fa-group"></i> {{ "Élèves inscrits"|trans }}</span></a>
                                    </td>
                                    <td>
                                        <a href="#"><span class="label label-success" data-toggle="modal" data-target="#courseModal_{{ course.id }}">{{ "modifier"|trans }}</span></a>
                                        <a class="label label-danger swal" href="{{ path('deleteCourse',{'courseId': course.id}) }}">{{ "Supprimer"|trans }}</a>

                                        <div class="modal fade" id="courseModal_{{ course.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">

                                                <form method="post" action="{{ path('updateCourse') }}" name="update-course" class="form-horizontal">
                                                    <div class="modal-content">

                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            <h4 class="modal-title" id="myModalLabel">
                                                                {{ course.style }} {{ course.category }} {{ course.timeslot }}
                                                            </h4>
                                                        </div>

                                                        <div class=modal-body">

                                                            <div class="form-group">

                                                                <div class="col-lg-4">
                                                                    <label class="control-label" for="cours_style">{{ "Style"|trans }}</label>
                                                                </div>

                                                                <div class="col-lg-6">
                                                                    <input title="i_cours_style" type="text" class="form-control" id="cours_style" name="style" value="{{ course.style }}">
                                                                </div>

                                                                <div class="col-lg-4">
                                                                    <label class="control-label" for="cours_category">{{ "Catégorie"|trans }}</label>
                                                                </div>

                                                                <div class="col-lg-6">
                                                                    <input title="i_cours_category" type="text" class="form-control" id="cours_category" name="category" value="{{ course.category }}">
                                                                </div>

                                                                <div class="col-lg-4">
                                                                    <label class="control-label" for="cours_timeslot">{{ "Plage horaire"|trans }}</label>
                                                                </div>

                                                                <div class="col-lg-6">
                                                                    <input title="i_cours_timeslot" type="text" class="form-control" id="cours_timeslot" name="timeslot" value="{{ course.timeslot }}">
                                                                </div>

                                                            </div>

                                                            <br>

                                                            <div class="form-group">

                                                                <div class="col-lg-4">
                                                                    <label class="control-label" for="userTeach">{{ "Professeur"|trans }}</label>
                                                                </div>

                                                                <div class="col-lg-6">
                                                                    <select title="professor" id="userTeach" name="userTeach" class="form-control">
                                                                        <option disabled selected value>
                                                                            -- {{ "Sélectionner un professeur"|trans }} --
                                                                        </option>
                                                                        {% for userTeach in usersTeach %}
                                                                            {% if course.userTeach == userTeach %}
                                                                                <option value="{{ userTeach.id }}" selected="selected">
                                                                                    {{ userTeach.firstname }}
                                                                                </option>
                                                                            {% endif %}
                                                                            <option value="{{ userTeach.id }}">
                                                                                {{ userTeach.firstname }}
                                                                            </option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input type="hidden" name="id" value="{{ course.id }}">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">{{ "Fermer"|trans }}</button>
                                                            <button type="submit"
                                                                    class="btn btn-primary">{{ "Sauvegarder"|trans }}</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>#</th>
                                <th>{{ "Style"|trans }}</th>
                                <th>{{ "Catégorie"|trans }}</th>
                                <th>{{ "Plage horaire"|trans }}</th>
                                <th>{{ "Professeur"|trans }}</th>
                                <th>{{ "Élève"|trans }}</th>
                                <th>{{ "Actions"|trans }}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block pageScripts %}
    <script src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>
    <script src="{{ asset('js/plugins/sweetalert/sweetalert.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.swal').click(function (e) {
                e.preventDefault();
                swal({
                    title: "{{ "Confirmer ?"|trans }}",
                    text: "{{ "Cette action est définitive"|trans }}",
                    icon: "error",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) => {
                    if (willDelete) {
                        swal("{{ "Succès"|trans }}", {
                            icon: "success",
                            buttons: false
                        });
                        window.location.href = this.href;
                    }
                });
            });
            const locale = "{{ asset('js/plugins/dataTables/') }}" + "{{ app.request.get('_locale') }}" + ".json";
            const buttonCommon = {
                exportOptions: {
                    columns: '.exportable'
                }
            };
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    $.extend(true, {}, buttonCommon, {
                        extend: 'copyHtml5',
                        text: "{{ "Copier"|trans }}"
                    }),
                    $.extend(true, {}, buttonCommon, {
                        extend: 'csvHtml5',
                        title: "{{ "Export cours NOUESTIL"|trans }}"
                    }),
                    $.extend(true, {}, buttonCommon, {
                        extend: 'excelHtml5',
                        title: "{{ "Export cours NOUESTIL"|trans }}"
                    }),
                    $.extend(true, {}, buttonCommon, {
                        extend: 'print',
                        text: "{{ "Imprimer"|trans }}"
                    }),
                    $.extend(true, {}, buttonCommon, {
                        extend: 'pdfHtml5',
                        title: "{{ "Export cours NOUESTIL"|trans }}",
                        orientation: 'landscape'
                    })
                ],
                language: {
                    url: locale
                }

            });
        });

    </script>
{% endblock %}
