{% extends 'base-menu.html.twig' %}
{% block pageStylesheets %}
    <link href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="ibox-title">
        <h5>{{ "Liste des cours"|trans }}</h5>
        <div class="ibox-content">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{ "Intitulé"|trans }}</th>
                    <th>{{ "Session"|trans }}</th>
                    <th>{{ "Professeur"|trans }}</th>
                    <th>{{ "Actions"|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for course in courses %}
                    <tr>
                        <td>{{ course.id }}</td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.session }}</td>
                        <td>{{ course.userTeach.firstname }}</td>
                        <td>
                            <a href="#"><span class="label label-default" data-toggle="modal"
                                              data-target="#courseModal_{{ course.id }}">+</span></a>
                            <a href="{{ path('deleteCourse',{'courseId': course.id}) }}"
                               onclick="return confirm('Confirmer la suppression ?')"><span
                                        class="label label-danger">{{ "Supprimer"|trans }}</span></a>
                            <a href="{{ path('checklist', {'courseId': course.id}) }}">
                                <span class="label label-info">{{ "Faire l'appel"|trans }}</span></a>
                            <div class="modal fade" id="courseModal_{{ course.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <form method="post" action="{{ path('updateCourse') }}" name="update-course"
                                          class="form-horizontal">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    {{ course.name }}
                                                </h4>
                                            </div>
                                            <div class=modal-body">
                                                <div>

                                                    <label for="name"> {{ "Intitulé"|trans }} <input type="text"
                                                                                                     name="name"
                                                                                                     value="{{ course.name }}"/></label><br/>
                                                    <label for="session"> {{ "Session"|trans }} <input type="text"
                                                                                                       name="session"
                                                                                                       value="{{ course.session }}"/></label><br/>
                                                    <select required="required" class="form-control" name="userTeach">
                                                        <option disabled selected value>
                                                            -- {{ "Sélectionner un professeur"|trans }} --
                                                        </option>
                                                        {% for userTeach in usersTeach %}
                                                            {% if course.userTeach == userTeach %}
                                                                <option selected="selected">
                                                                    {{ userTeach.firstname }}
                                                                </option>
                                                            {% endif %}
                                                            <option value="{{ userTeach.id }}">

                                                                {{ userTeach.firstname }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="hidden" name="id" value="{{ course.id }}">
                                                <button type="button" class="btn btn-default"
                                                        data-dismiss="modal">{{ "Fermer"|trans }}</button>
                                                <button type="submit"
                                                        class="btn btn-primary">{{ "Sauvegarder"|trans }}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="{{ path('usersCourse',{'courseId': course.id}) }}"><i class="fa fa-group"></i> </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="#"><span class="label label-default" data-toggle="modal"
                              data-target="#addCourseModal">{{ "Créer un cours"|trans }}</span></a>
            <div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    {{ form_start(formCreateCourse, {'action': path('addCourse') }) }}
                    {{ form_errors(formCreateCourse) }}
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                {{ "Créer un cours"|trans }}
                            </h4>
                        </div>
                        <div class=modal-body">
                            {{ form_row(formCreateCourse.name) }}
                            {{ form_row(formCreateCourse.session) }}
                            {{ form_row(formCreateCourse.userTeach) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ "Fermer"|trans }}</button>
                            <button type="submit" class="btn btn-primary">{{ "Sauvegarder"|trans }}</button>
                        </div>
                    </div>
                    {{ form_end(formCreateCourse) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block pageScripts %}
    <script src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            var locale = "{{ asset('js/plugins/dataTables/') }}" + "{{ app.request.get('_locale') }}" + ".json";
            var buttonCommon = {
                exportOptions: {
                    columns: '.exportable'
                }
            };
        });

    </script>
{% endblock %}
