{% extends 'base.html.twig' %}

{% block body %}
    {% for type, flash_message in app.session.flashBag.all %}
        {% for flash_message in flash_message %}
            <br />>
            <pre class="alert alert-danger">
                {{- flash_message -}}
            </pre>
        {% endfor %}
    {% endfor %}
    <div class="ibox-title">
        <h5>{{ course.name }} - {{  course.session }}</h5>
        <div class="ibox-content">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom d'utilisateur</th>
                    <th>name</th>
                    <th>Prénom</th>
                    <th>Date de Naissance</th>
                </tr>
                </thead>
                <tbody>
                {% for user in course.users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="#"><span class="label label-default" data-toggle="modal" data-target="#addUserCourseModal">Ajouter des élèves à ce cour</span></a>
        <div class="modal fade" id="addUserCourseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Ajouter des élèves à ce cour
                        </h4>
                    </div>
                    <div class=modal-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}

                        [{% for user in results -%}
                        {{ {id: user.id, label: user.firstname, value: user.fistname}|json_encode|raw }}
                        {# use "value" instead of "id" key, if you use jquery-ui #}
                        {%- if not loop.last %},{% endif -%}
                        {%- endfor %}]
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            </div>
        </div>
        {% if errorMessage is defined %}
            <br/>
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    < script  src = " //code.jquery.com/jquery-3.1.1.min.js " > < / script >
    < script  src = " //code.jquery.com/ui/1.12.1/jquery-ui.min.js " > < / script >
    < script  src = " {{asset ('paquets / pugxautocompleter / js / autocompleter-jqueryui.js')}} " > < / script >
    < script  src = " {{asset ('js / app.js')}} " > < / script >
    <script>$('#book_user').autocompleter({
            url_list: '/user_search',
            url_get: '/user_get/'
        });
        $(document).ready(function () {
            'use strict';
            $('#form_titre').autocompleter({
                url_list: '/search-article',
                url_get: '/?term='
            });


            $("#ui-id-1").click(function(){
                var id = $("#form_titre").val();

                if(id.toString().length > 0){
                    $(location).attr('href', '/article/'+id.toString());
                }
            })
        }); </script>
{% endblock %}
