<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_PROF")) %}
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        {% endif %}
    </div>
        <ul class="nav navbar-top-links navbar-right">
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <li>
                <a href="{{ path('users', {'_want_to_be': '_exit'}) }}" class="m-r-sm text-muted welcome-message"><span class="label label-warning">Quitter la vue utilisateur</span></a>
            </li>
            {% endif %}
            <li>
                <span class="m-r-sm text-muted welcome-message">{{ config.title }}</span>
            </li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li>
                <a href="{{ path( "fos_user_profile_show" ) }}" > <i class="fa fa-user"></i> {{ "Mon Profil"|trans }} </a>
            </li>
            <li>
                <a href="{{ path( "fos_user_security_logout" ) }}" > <i class="fa fa-sign-out"></i> {{ "Déconnexion"|trans }} </a>
            </li>
            {% else %}
            <li>
                <a href="{{ path( "fos_user_security_login" ) }}" > <i class="fa fa-sign-in"></i> {{ "Connexion"|trans }} </a>
            </li>
            {% endif %}

        </ul>
    </nav>
</div>