<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        {% if (is_granted("ROLE_ADMIN") or is_granted("ROLE_PROF")) %}
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        {% endif %}
    </div>
        <ul class="nav navbar-top-links navbar-right">
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <li>
                <a href="{{ path('users', {'_want_to_be': '_exit'}) }}" class="m-r-sm text-muted welcome-message"><span class="label label-warning">{{ "Quitter la vue utilisateur"|trans }}</span></a>
            </li>
            {% endif %}
            <li>
                <span class="m-r-sm text-muted welcome-message">{{ config.title }}</span>
            </li>

            <li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <span class="flag-icon flag-icon-{% if (app.request.locale == "en") %}gb {% else %}{{ app.request.locale }}{% endif %}"></span>
                </a>
                <ul class="dropdown-menu" style="width: auto;min-width: 0">
                    <li>
                        <a class="text-center" href="{{ path(parentRequest.attributes.get('_route'), app.request.get('_route_params',{})|merge({'_locale': 'es'})) }}">
                            <span class="flag-icon flag-icon-es"></span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{{ path(parentRequest.attributes.get('_route'), app.request.get('_route_params',{})|merge({'_locale': 'en'})) }}">
                            <span class="flag-icon flag-icon-gb"></span>

                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{{ path(parentRequest.attributes.get('_route'), app.request.get('_route_params',{})|merge({'_locale': 'fr'})) }}">
                            <span class="flag-icon flag-icon-fr"></span>

                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ path( "home" ) }}" > <i class="fa fa-home"></i> {{ "Retour au site"|trans }} </a>
            </li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li>
                <a href="{{ path( "fos_user_profile_show" ) }}" > <i class="fa fa-user"></i> {{ "Mon Profil"|trans }} </a>
            </li>
            <li>
                <a href="{{ path( "fos_user_security_logout" ) }}" > <i class="fa fa-sign-out"></i> {{ "Déconnexion"|trans }} </a>
            </li>
            {% else %}
            <li>
                <a href="{{ path( "fos_user_security_login" ) }}" > <i class="fa fa-sign-in"></i> {{ "Connexion"|trans }} </a>
            </li>
            {% endif %}

        </ul>
    </nav>
</div>