{% extends 'base.html.twig' %}
{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="middle-box text-center animated fadeInDown">
            <h1>...</h1>
            <h3 class="font-bold">{{ "Vous êtes déjà connecté"|trans }}</h3>
            <div class="error-desc">
                <br/>
                <p>
                    <a href="{{ path('home') }}">{{ "Retourner à l'accueil"|trans }}</a>
                </p>
                <p>
                    {{ "Pour toute demande de support :"|trans }} <a href="mailto:nouestil.secretaria@gmail.com">nouestil.secretaria@gmail.com</a>
                </p>
            </div>
        </div>
    {% else %}
        <body class="gray-bg">

        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                <div>
                    <img alt="image" class="img-circle" src="{{ asset('favicon-196x196.png') }}"/>

                </div>
                <h3>Bienvenue sur Nouestil</h3>
                <p>Texte exemple.
                </p>
                {% block fos_user_content %}
                    {{ include('@FOSUser/Security/login_content.html.twig') }}
                {% endblock fos_user_content %}
                <p class="m-t">
                    <small>Nouestil © 2018</small>
                </p>
            </div>
        </div>
        </body>
    {% endif %}
{% endblock body %}
