{% extends 'base-menu.html.twig' %}
{% block pageStylesheets %}
    <link href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ "Paiements"|trans }}</h5>
                        <div class="ibox-tools">
                            <a href="{{ path('createPayment') }}"
                               class="btn btn-primary btn-xs">{{ "Créer un paiement"|trans }}</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th class="exportable">#</th>
                                    <th class="exportable">{{ "Utilisateur"|trans }}</th>
                                    <th class="exportable">{{ "Intitulé"|trans }}</th>
                                    <th class="exportable">{{ "Montant"|trans }}</th>
                                    <th class="exportable">{{ "Catégorie"|trans }}</th>
                                    <th class="exportable">{{ "Méthode"|trans }}</th>
                                    <th class="exportable">{{ "Date"|trans }}</th>
                                    <th class="exportable">{{ "Note"|trans }}</th>
                                    <th>{{ "Actions"|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for payment in payments %}
                                    <tr>
                                        <td class="exportable">{{ payment.id }}</td>
                                        <td class="exportable">{{ payment.user.firstname }} {{ payment.user.lastname}}</td>
                                        <td class="exportable">{{ payment.title }} </td>
                                        <td class="exportable">{{ payment.amount }}</td>
                                        <td class="exportable">{{ payment.category|trans }}</td>
                                        <td class="exportable">{{ payment.method|trans }}</td>
                                        <td class="exportable">{{ payment.datetime|date('d-m-Y') }}</td>
                                        <td class="exportable">{{ payment.note }}</td>
                                        <td>
                                            <a href="#"><span class="label label-default" data-toggle="modal" data-target="#paymentModal_{{ payment.id }}">{{ "Modifier"|trans }}</span></a>
                                            <a href="{{ path('deletePayment',{'paymentId': payment.id}) }}" onclick="return confirm('Confirmer la suppression ?')"><span class="label label-danger">{{ "Supprimer"|trans }}</span></a>
                                            <div class="modal fade" id="paymentModal_{{ payment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <form method="post" class="form-horizontal" action="{{ path('updatePayment') }}" name="update-payment" role="form">
                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="myModalLabel">{{ "Modifier paiement #%payment.id% effectué par %payment.user.firstname% %payment.user.lastname%."|trans({'%payment.id%':payment.id,'%payment.user.firstname%':payment.user.firstname,'%payment.user.lastname%':payment.user.lastname }) }}</h4>
                                                            </div>

                                                            <div class="modal-body">

                                                                <div class="form-group">
                                                                    <div class="col-lg-5">
                                                                        <label class="control-label" for="Ptitle">{{ "Intitulé"|trans }}:</label>
                                                                    </div>

                                                                    <div class="col-lg-8">
                                                                        <input title="title" type="text" class="form-control" id="title" name="title" value="{{ payment.title }}">
                                                                    </div>

                                                                    <div class="col-lg-5">
                                                                        <label class="control-label" for="amount">{{ "Montant"|trans }}:</label>
                                                                    </div>

                                                                    <div class="col-lg-8">
                                                                        <input type="number" class="form-control" id="Pamount" name="amount" step="0.01" value="{{ payment.amount }}">
                                                                    </div>

                                                                </div>
                                                                <br/>
                                                                <div class="form-group">

                                                                    <div class="col-lg-5">
                                                                        <label class="control-label">{{ "Date"|trans }}:</label>
                                                                    </div>

                                                                    <div class="col-lg-8">
                                                                        <input type="date" class="form-control" name="datetime" min="2017-01-01" value="{{ payment.datetime|date('Y-m-d') }}">
                                                                    </div>

                                                                </div>
                                                                <br/>
                                                                <div class="form-group">

                                                                    <div class="col-lg-5">
                                                                        <label class="control-label">{{ "Catégorie"|trans }}:</label>
                                                                    </div>
                                                                    <div class="col-lg-8">
                                                                        <select name="category" class="form-control">
                                                                            <option {% if payment.category is not defined %} selected="selected" {% endif %} value="">{{ "--Choisir une catégorie--"|trans }}</option>
                                                                            <option {% if payment.category is defined and payment.category=="Payment" %} selected="selected" {% endif %} value="Payment">{{ "Paiement"|trans }}</option>
                                                                            <option {% if payment.category is defined and payment.category=="Refund" %} selected="selected" {% endif %} value="Refund">{{ "Remboursement"|trans }}</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-lg-5">
                                                                        <label class="control-label">{{ "Méthode"|trans }}:</label>
                                                                    </div>
                                                                    <div class="col-lg-8">
                                                                        <select name="method" class="form-control">
                                                                            <option {% if payment.method is not defined %} selected="selected" {% endif %} value="">{{ "--Choisir une méthode--"|trans }}</option>
                                                                            <option {% if payment.method is defined and payment.method=="Credit Card" %} selected="selected" {% endif %} value="Credit Card">{{ "Carte bancaire"|trans }}</option>
                                                                            <option {% if payment.method is defined and payment.method=="Cash" %} selected="selected" {% endif %} value="Cash">{{ "Espèces"|trans }}</option>
                                                                            <option {% if payment.method is defined and payment.method=="Transfer" %} selected="selected" {% endif %} value="Transfer">{{ "Virement"|trans }}</option>
                                                                            <option {% if payment.method is defined and payment.method=="Other" %} selected="selected" {% endif %} value="Other">{{ "Autre"|trans }}</option>
                                                                        </select>
                                                                    </div>

                                                                </div>
                                                                <br/>
                                                                <div class="form-group">

                                                                    <div class="col-lg-5">
                                                                        <label class="control-label">{{ "Note"|trans }}:</label>
                                                                    </div>

                                                                    <div class="col-lg-8">
                                                                        <input type="text" class="form-control" name="note" value="{{ payment.note }}">
                                                                    </div>

                                                                </div>


                                                            </div>

                                                            <div class="modal-footer">
                                                                <input type="hidden" name="id" value="{{ payment.id }}">
                                                                <button type="submit" class="btn btn-primary">{{ "Sauvegarder"|trans }}</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>{{ "Utilisateur"|trans }}</th>
                                    <th>{{ "Intitulé"|trans }}</th>
                                    <th>{{ "Montant"|trans }}</th>
                                    <th>{{ "Catégorie"|trans }}</th>
                                    <th>{{ "Méthode"|trans }}</th>
                                    <th>{{ "Date"|trans }}</th>
                                    <th>{{ "Note"|trans }}</th>
                                    <th>{{ "Actions"|trans }}</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block pageScripts %}
    <!-- Page-Level Scripts -->
    <script src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>
    <script src="{{ asset('js/plugins/dateTimeMoment/moment.js') }}"></script>
    <script src="{{ asset('js/plugins/dateTimeMoment/sorting_datetime-moment.js') }}"></script>
    <script>
        $.fn.dataTable.moment( 'DD-MM-YYYY' );
        $(document).ready(function () {
            var locale = "{{ asset('js/plugins/dataTables/') }}" + "{{ app.request.get('_locale') }}" + ".json";
            var buttonCommon = {
                exportOptions: {
                    columns: '.exportable'
                }
            };
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    $.extend(true, {}, buttonCommon, {
                        extend: 'copyHtml5'
                    }),
                    $.extend(true, {}, buttonCommon, {
                        extend: 'csvHtml5',
                        title: 'NOUESTIL Payments Export'
                    }),
                    $.extend(true, {}, buttonCommon, {
                        extend: 'excelHtml5',
                        title: 'NOUESTIL Payments Export'
                    }),
                    $.extend(true, {}, buttonCommon, {
                        extend: 'print'
                    }),
                    $.extend(true, {}, buttonCommon, {
                        extend: 'pdfHtml5',
                        title: 'NOUESTIL Payments Export'
                    })
                ],
                language: {
                    url: locale
                }

            });
            $('.swal').click(function (e) {
                e.preventDefault();
                swal({
                    title: "{{ "Confirmer ?"|trans }}",
                    text: "{{ "Cette action est définitive"|trans }}",
                    icon: "error",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            swal("{{ "Succès"|trans }}", {
                                icon: "success",
                            });
                            window.location.href = this.href;
                        } else {
                            swal("{{ "Annulé"|trans }}");
                        }
                    });
            });

        });

    </script>
{% endblock %}