<h3> Bonjour {{ user.firstname }} ! </h3>

    <p>Pour valider votre compte utilisateur, merci de vous rendre
        <a href="{{ app.request.server.get("SERVER_NAME") }}{{ path('confirmUser', {'token': token, 'userId': user.id}) }}"> sur ce lien </a> </p>

<p>
    Voici votre information de connection: <br />

    identifiant: {{ user.username }} <br />
    mot de passe: {{ password }}
</p>
Cordialement,
L'équipe Nouestil