{% extends 'base-menu.html.twig' %}
{% block pageStylesheets %}
    <link href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/plugins/sweetalert/sweetalert.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ "Utilisateurs"|trans }}</h5>
                        <div class="ibox-tools">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('createUser') }}"
                                   class="btn btn-primary btn-xs">{{ "Créer un utilisateur"|trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th class="exportable">#</th>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <th class="exportable">{{ "Nom d'utilisateur"|trans }}</th>
                                    {% endif %}
                                    <th class="exportable">{{ "Nom"|trans }}</th>
                                    <th class="exportable">{{ "Prénom"|trans }}</th>
                                    <th class="exportable">{{ "Date de naissance"|trans }}</th>
                                    <th class="exportable">{{ "Num tel"|trans }}</th>
                                    <th class="exportable">{{ "Email"|trans }}</th>
                                    <th class="exportable">{{ "Contacts"|trans }}</th>
                                    <th class="exportable">{{ "Groupe"|trans }}</th>
                                    <th class="exportable">{{ "Note publique"|trans }}</th>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <th class="exportable">{{ "Note privée"|trans }}</th>
                                        <th>{{ "Actions"|trans }}</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td class="exportable">{{ user.id }}</td>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <td class="exportable">{{ user.username }}</td>
                                        {% endif %}
                                        <td class="exportable">{{ user.lastname }}</td>
                                        <td class="exportable">{{ user.firstname }}</td>
                                        <td class="exportable">{{ user.birthdate|date('d-m-Y') }}</td>
                                        <td class="exportable">{{ user.phoneNumber }}</td>
                                        <td class="exportable">{{ user.email }}</td>
                                        <td class="exportable">
                                            {% for key, contact in user.contacts %}
                                                <a href="#"><span class="label label-default" data-toggle="modal" data-target="#contactModal{{ contact.id }}"> {{ contact.firstname }} {{ contact.lastname }}</span></a>
                                            {% endfor %}
                                        </td>
                                        <td class="exportable">{% if user.group.id is defined %}{{ user.group }}{% endif %}</td>
                                        <td class="exportable">{{ user.publicNote }}</td>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <td class="exportable">{{ user.privateNote }}</td>
                                        {% endif %}
                                        {% if is_granted('ROLE_ADMIN') == true %}
                                            <td>
                                                <a href="#"><span class="label label-default" data-toggle="modal" data-target="#userModal_{{ user.id }}">{{ "Modifier"|trans }}</span></a>
                                                <a class="label label-warning" href="{{ path('fos_user_profile_show', {'_want_to_be': user.username}) }}">{{ "Vue utilisateur"|trans }}</a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <th>{{ "Nom d'utilisateur"|trans }}</th>
                                    {% endif %}
                                    <th>{{ "Nom"|trans }}</th>
                                    <th>{{ "Prénom"|trans }}</th>
                                    <th>{{ "Date de naissance"|trans }}</th>
                                    <th>{{ "Num tel"|trans }}</th>
                                    <th>{{ "Email"|trans }}</th>
                                    <th>{{ "Contacts"|trans }}</th>
                                    <th>{{ "Groupe"|trans }}</th>
                                    <th>{{ "Note publique"|trans }}</th>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <th>{{ "Note privée"|trans }}</th>
                                        <th>{{ "Actions"|trans }}</th>
                                    {% endif %}
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        {% for user in users %}
                            <div class="modal fade" id="userModal_{{ user.id }}" tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <form method="post" action="{{ path('updateUser') }}" name="update-user" class="form-horizontal">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    {{ user.username }} </h4>
                                            </div>

                                            <div class="modal-body">

                                                <div class="form-group">

                                                    <div class="col-lg-4">
                                                        <label class="control-label" for="user_lastname">{{ "Nom : "|trans }}</label>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <input title="i_user_lastname" type="text" class="form-control" id="user_lastname" name="lastname" value="{{ user.lastname }}">
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <label class="control-label" for="user_firstname">{{ "Prenom : "|trans }}</label>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <input title="i_user_firstname" type="text" class="form-control" id="user_firstname" name="firstname" value="{{ user.firstname }}">
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <label class="control-label" for="user_birthdate">{{ "Date de naissance : "|trans }}</label>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <input title="i_user_birthdate" type="date" class="form-control" id="user_birthdate" name="birthdate" min="1900-01-01" value="{{ user.birthdate|date('Y-m-d') }}">
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <label class="control-label" for="user_phoneNumber">{{ "numero de telephone : "|trans }}</label>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <input title="i_user_phoneNumber" type="number" class="form-control" id="user_phoneNumber" name="phoneNumber" value="{{ user.phoneNumber }}">
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <label class="control-label" for="user_email">{{ "email : "|trans }}</label>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <input title="i_user_email" type="email" class="form-control" id="user_email" name="email" value="{{ user.email }}">
                                                    </div>

                                                </div>

                                                <br>

                                                <div class="form-group">

                                                    <div class="col-lg-4">
                                                        <label class="control-label" for="user_group">{{ "Groupe"|trans }}</label>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <select name="group" class="form-control" value="{{ user.lastname }}">
                                                            <option>
                                                                -- {{ "Sélectionner une option"|trans }} --
                                                            </option>
                                                            {% for key, group in groups %}
                                                                <option value="{{ group }}" {% if user.group.id is defined and user.group.id==group.id %} selected="selected" {% endif %} >{{ group }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                </div>

                                                <br>

                                                <div class="form-group">

                                                    <div class="col-lg-4">
                                                        <label class="control-label" for="user_publicNote">{{ "Note publique : "|trans }}</label>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <input title="i_user_publicNote" type="text" class="form-control" id="user_publicNote" name="publicNote" value="{{ user.publicNote }}">
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <label class="control-label" for="user_privateNote">{{ "Note privée : "|trans }}</label>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <input title="i_user_privateNote" type="text" class="form-control" id="user_privateNote" name="privateNote" value="{{ user.privateNote }}">
                                                    </div>

                                                </div>

                                                <br>

                                                <div class="Group">
                                                    <h5>{{ "Derniers paiements"|trans }}</h5>
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>{{ "Intitulé"|trans }}</th>
                                                            <th>{{ "Montant"|trans }}</th>
                                                            <th>{{ "Méthode"|trans }}</th>
                                                            <th>{{ "Catégorie"|trans }}</th>
                                                            <th>{{ "Note"|trans }}</th>
                                                            <th>{{ "Date"|trans }}</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for payment in user.payments|reverse  %}
                                                            {% if  loop.index < 4 %}
                                                            <tr>
                                                                <td>{{ payment.id }}</td>
                                                                <td>{{ payment.title }}</td>
                                                                <td>{{ payment.amount }} €</td>
                                                                <td>{{ payment.method }}</td>
                                                                <td>{{ payment.category }}</td>
                                                                <td>{{ payment.note }}</td>
                                                                <td>{{ payment.datetime|date('d-m-Y') }}</td>
                                                            </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="modal-footer">
                                                    {% if currentUser != user %}
                                                        <a class="btn btn-w-m btn-danger pull-left"
                                                           href="{{ path('deleteUser',{'userId': user.id}) }}"
                                                           onclick="return confirm('Supprimer {{ user.firstname }} {{ user.lastname }} ?')">{{ "Supprimer l'utilisateur"|trans }}</a>
                                                    {% endif %}
                                                    <input type="hidden" name="id"
                                                           value="{{ user.id }}">
                                                    <button type="submit"
                                                            class="btn btn-primary">{{ "Sauvegarder"|trans }}
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {% for key, contact in user.contacts %}
                                <div class="modal fade" id="contactModal{{ contact.id }}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    {{ contact.firstname }} {{ contact.lastname }}</h4>
                                            </div>
                                            <div class="modal-body">
                                                {{ "Num tel"|trans }} : {{ contact.phoneNumber }}
                                                <div class="col-12">
                                                    <a class="btn btn-w-m btn-danger swal"
                                                       href="{{ path('unlinkContact',{'userId' : user.id,'contactId': contact.id}) }}"
                                                    >{{ "Délier ce contact de l'utilisateur"|trans }}</a>
                                                    <a class="btn btn-w-m btn-danger swal"
                                                       href="{{ path('deleteContact',{'contactId': contact.id}) }}">{{ "Supprimer"|trans }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block pageScripts %}
    <!-- Page-Level Scripts -->
    <script src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>
    <script src="{{ asset('js/plugins/sweetalert/sweetalert.min.js') }}"></script>
    {#<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>#}
    <script src="{{ asset('js/plugins/dateTimeMoment/moment.js') }}"></script>
    <script src="{{ asset('js/plugins/dateTimeMoment/sorting_datetime-moment.js') }}"></script>
    <script>
        $.fn.dataTable.moment('DD-MM-YYYY');
        $(document).ready(function () {
            var locale = "{{ asset('js/plugins/dataTables/') }}" + "{{ app.request.get('_locale') }}" + ".json";
            var buttonCommon = {
                exportOptions: {
                    columns: '.exportable'
                }
            };
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    $.extend(true, {}, buttonCommon, {
                        extend: 'copyHtml5'
                    }),
                    $.extend(true, {}, buttonCommon, {
                        extend: 'csvHtml5',
                        title: 'NOUESTIL Users Export'
                    }),
                    $.extend(true, {}, buttonCommon, {
                        extend: 'excelHtml5',
                        title: 'NOUESTIL Users Export'
                    }),
                    $.extend(true, {}, buttonCommon, {
                        extend: 'print'
                    }),
                    $.extend(true, {}, buttonCommon, {
                        extend: 'pdfHtml5',
                        title: 'NOUESTIL Users Export'
                    })
                ],
                language: {
                    url: locale
                }
            });
            $('.swal').click(function (e) {
                e.preventDefault();
                swal({
                    title: "{{ "Confirmer ?"|trans }}",
                    text: "{{ "Cette action est définitive"|trans }}",
                    icon: "error",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            swal("{{ "Succès"|trans }}", {
                                icon: "success",
                            });
                            window.location.href = this.href;
                        } else {
                            swal("{{ "Annulé"|trans }}");
                        }
                    });
            });
        });
    </script>
{% endblock %}