{% extends 'base.html.twig' %}

{% block body %}
    {% for type, flash_messages in app.session.flashBag.all %}
        {% for flash_message in flash_messages %}
            <br/>
            <pre class="alert alert-danger">
                {{- flash_message -}}
            </pre>
        {% endfor %}
    {% endfor %}
    <div class="ibox-title">
    <h5>Utilisateurs</h5>
    <div class="ibox-content">

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom d'utilisateur</th>
                <th>name</th>
                <th>Prénom</th>
                <th>Date de Naissance</th>
                <th>Num Tel</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Groupe</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.birthdate|date('d-m-Y') }}</td>
                    <td>{{ user.phoneNumber }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.contact.id is defined %}
                        <a href="#"><span class="label label-default" data-toggle="modal"
                                          data-target="#contactModal_{{ user.contact.id }}">
                            {{ user.contact.firstname }} {{ user.contact.lastname }}</span></a>

                        <div class="modal fade" id="contactModal_{{ user.contact.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            {{ user.contact.firstname }} {{ user.contact.lastname }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        Numéro de téléphone : {{ user.contact.phoneNumber }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    {% endif %}
                    <td>
                        {% if user.group.id is defined %}
                            {{ user.group.name }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="#"><span class="label label-default" data-toggle="modal" data-target="#userModal_{{ user.id }}">+</span></a>
                        {#<a class="label label-warning"  href="{{ path('base_homepage', {'_want_to_be': user.username}) }}" >Impersonate</a>#}
                        {% if currentUser != user %}
                            <a href="{{ path('deleteUser',{'userId': user.id}) }}"
                               onclick="return confirm('Confirmer la suppression ?')"><span class="label label-danger">Supprimer</span></a>
                        {% endif %}
                        <div class="modal fade" id="userModal_{{ user.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <form method="post" action="{{ path('updateUser') }}" name="update-user"
                                      class="form-horizontal">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                {{ user.username }} </h4>
                                        </div>
                                        <div class="modal-body">
                                            <div>
                                                <p>Note publique: {{ user.publicNote }}</p>
                                            </div>
                                            <hr/>
                                            <div>
                                                <p>Note privée: {{ user.privateNote }}</p>
                                            </div>
                                            <hr/>
                                            {#<div class="Role">#}
                                            {#<h5>Modifier le rôle :</h5>#}
                                            {#<select onchange="window.location.href=this.value" class="form-control">#}
                                            {#<option>#}
                                            {#-#}
                                            {#</option>#}
                                            {#{% for key, role in roles %}#}
                                            {#<option value="{{ path('pichet_portailmkg_updateRolesUser',{'userId': user.id,'role':key}) }}" {% if user.roles[0]==key %} selected="selected" {% endif %} >#}
                                            {#{{ role }}#}
                                            {#</option>#}
                                            {#{% endfor %}#}
                                            {#</select>#}
                                            {#</div>#}
                                            <br/>
                                            <div class="Group">
                                                <h5>Modifier le groupe :</h5>
                                                <select onchange="window.location.href=this.value" class="form-control">
                                                    <option disabled selected value> -- Sélectionner une option --
                                                    </option>
                                                    {% for key, group in groups %}
                                                        <option value="{{ path('updateGroupUser',{'userId': user.id,'group':group.id}) }}" {% if user.group.id is defined and  user.group.id==group.id %} selected="selected" {% endif %} >
                                                            {{ group }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            {#<div class="form-group col-md-6">#}
                                            {#<input type="checkbox" name="ressource_planner"#}
                                            {#{% if user.ressourcePlanner %} checked {% endif %} />#}
                                            {#<label>Activer le ressource planner</label>#}
                                            {#</div>#}
                                            {#<div class="form-group col-md-6">#}
                                            {#<input type="checkbox" name="time_tracking"#}
                                            {#{% if user.timeTracking %} checked {% endif %} />#}
                                            {#<label>Activer le time tracking</label>#}
                                            {#</div>#}
                                            <hr/>
                                            <label class="col-md-4 col-form-label">Paiements</label>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Montant</th>
                                                    <th>Methode</th>
                                                    <th>Date</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for payment in user.payments %}
                                                    <tr>
                                                        <td>{{ payment.id }}</td>
                                                        <td>{{ payment.amount }} €</td>
                                                        <td>{{ payment.method }}</td>
                                                        <td>{{ payment.datetime|date('Y-m-d H:i:s') }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            {#<div class="form-group row">#}
                                            {#<label class="col-md-4 col-form-label">Disponibilité Mensuelle</label>#}
                                            {#<div class="col-md-8">#}
                                            {#<input class="form-control" type="number" max="200" name="monthly_availability" value="{{ user.monthlyAvailability }}">#}
                                            {#</div>#}
                                            {#</div>#}
                                        </div>
                                        <div class="modal-footer">
                                            <input type="hidden" name="id" value="{{ user.id }}">
                                            <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Save changes
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if errorMessage is defined %}
            <br/>
            <div class="alert alert-danger">
                {{ error }}
            </div>

        {% endif %}

    </div>
{% endblock %}