<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ "Détails"|trans }}</h5>
                </div>
                <div>
                    <div class="ibox-content profile-content">
                        <h4><strong>{{ user.firstname }} {{ user.lastname }}</strong></h4>
                        <br>
                        <h4><strong>Nom d'utilisateur : {{ user.username }}</strong></h4>
                        {% if user.group.id is defined %}
                            <p><i class="fa fa-users"></i> {{ user.group.name }}</p>
                        {% endif %}
                        <div class="row m-t-lg">
                            <div class="col-md-6">
                                <h5><i class="fa fa-phone"></i> {{ user.phoneNumber }}</h5>
                            </div>
                            <div class="col-md-6">
                                <h5><i class="fa fa-birthday-cake"></i> {{ user.birthdate|date('d-m-Y') }}
                                </h5>
                            </div>
                            <div class="col-md-6">
                                <h5><i class="fa fa-map-marker"></i> {{ user.city }}</h5>
                            </div>
                            <div class="col-md-6">
                                <h5><i class="fa fa-envelope"></i> {{ user.email }}</h5>
                            </div>

                        </div>
                        <div class="row m-t-lg">
                            <div class="col-md-12">
                                <h5>{{ "Note publique: "|trans }}{{ user.publicNote }}</h5>
                            </div>
                        </div>
                        {% if (is_granted("ROLE_ADMIN")) %}
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 data-toggle="tooltip" data-placement="bottom auto" title="" data-original-title="{{ "Visible par l'administrateur seulement"|trans }}">{{ "Note privée: "|trans }}{{ user.privateNote }}</h5>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ "Cours"|trans }}</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <div class="feed-activity-list">
                            {% if (user.courses is empty) %}
                                <h4 class="text-center">{{ "Vous n'êtes inscrit à aucun cours"|trans }}</h4>
                            {% endif %}
                            {% for course in user.courses %}
                                <div class="feed-element">
                                    <div class="media-body">
                                        <strong> {{ course.name }} : {{ course.session }}
                                        </strong>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row animated fadeInRight">
        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ "Contacts"|trans }}</h5>
                </div>
                <div>
                    <div class="ibox-content profile-content">
                        {% for contact in user.contacts %}
                            <div class="row m-t-lg">
                                <div class="col-md-12">
                                    <h4><strong>{{ contact.firstname }} {{ contact.lastname }}</strong></h4>
                                    <p><i class="fa fa-link"></i> {{ contact.kinship }}</p>
                                </div>
                                <div class="col-md-6">
                                    <h5><i class="fa fa-phone"></i> {{ contact.phoneNumber }}</h5>
                                </div>
                                <div class="col-md-6">
                                    <h5><i class="fa fa-envelope"></i> {{ contact.email }}</h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ "Paiements"|trans }}</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <div class="feed-activity-list">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th class="exportable">#</th>
                                    <th class="exportable">{{ "Intitulé"|trans }}</th>
                                    <th class="exportable">{{ "Montant"|trans }}</th>
                                    <th class="exportable">{{ "Catégorie"|trans }}</th>
                                    <th class="exportable">{{ "Méthode"|trans }}</th>
                                    <th class="exportable">{{ "Date"|trans }}</th>
                                    <th class="exportable">{{ "Note"|trans }}</th>
                                    <th>{{ "Actions"|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for payment in user.payments %}
                                    <tr>
                                        <td class="exportable">{{ payment.id }}</td>
                                        <td class="exportable">{{ payment.title }}</td>
                                        <td class="exportable">{{ payment.amount }}</td>
                                        <td class="exportable">{{ payment.category }}</td>
                                        <td class="exportable">{{ payment.method }}</td>
                                        <td class="exportable">{{ payment.datetime|date('d-m-Y') }}</td>
                                        <td class="exportable">{{ payment.note }}</td>
                                        <td>
                                            <a href="#"><span class="label label-default" data-toggle="modal" data-target="#paymentModal_{{ payment.id }}">{{ "Modifier"|trans }}</span></a>
                                            <a href="{{ path('deletePayment',{'paymentId': payment.id}) }}" onclick="return confirm('Confirmer la suppression ?')"><span class="label label-danger">{{ "Supprimer"|trans }}</span></a>
                                            <div class="modal fade" id="paymentModal_{{ payment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <form method="post" class="form-horizontal" action="{{ path('updatePayment') }}" name="update-payment" role="form">
                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="myModalLabel">{{ "Modifier paiement #%payment.id% effectué par %payment.user.firstname% %payment.user.lastname%."|trans({'%payment.id%':payment.id,'%payment.user.firstname%':payment.user.firstname,'%payment.user.lastname%':payment.user.lastname }) }}</h4>
                                                            </div>

                                                            <div class="modal-body">

                                                                <div class="form-group">

                                                                    <div class="col-lg-5">
                                                                        <label class="control-label" for="title">{{ "Intitulé"|trans }}:</label>
                                                                    </div>

                                                                    <div class="col-lg-8">
                                                                        <input title="amout" type="text" class="form-control" id="amount" name="title" value="{{ payment.title }}">
                                                                    </div>
                                                                    <div class="col-lg-5">
                                                                        <label class="control-label" for="amount">{{ "Montant"|trans }}:</label>
                                                                    </div>

                                                                    <div class="col-lg-8">
                                                                        <input title="amout" type="number" class="form-control" id="amount" name="amount" step="0.01" value="{{ payment.amount }}">
                                                                    </div>
                                                                </div>
                                                                <br/>
                                                                <div class="form-group">
                                                                    <div class="col-lg-5">
                                                                        <label class="control-label">{{ "Date"|trans }}:</label>
                                                                    </div>
                                                                    <div class="col-lg-8">
                                                                        <input title="date" type="date" class="form-control" name="datetime" min="2017-01-01" value="{{ payment.datetime|date('Y-m-d') }}">
                                                                    </div>
                                                                </div>
                                                                <br/>
                                                                <div class="form-group">
                                                                    <div class="col-lg-5">
                                                                        <label class="control-label">{{ "Catégorie"|trans }}:</label>
                                                                    </div>
                                                                    <div class="col-lg-8">
                                                                        <select name="category" class="form-control">
                                                                            <option {% if payment.category is not defined %} selected="selected" {% endif %} value="">{{ "--Choisir une catégorie--"|trans }}</option>
                                                                            <option {% if payment.category is defined and payment.category=="Payment" %} selected="selected" {% endif %} value="Payment">{{ "Paiement"|trans }}</option>
                                                                            <option {% if payment.category is defined and payment.category=="Refund" %} selected="selected" {% endif %} value="Refund">{{ "Remboursement"|trans }}</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-lg-5">
                                                                        <label class="control-label">{{ "Méthode"|trans }}:</label>
                                                                    </div>
                                                                    <div class="col-lg-8">
                                                                        <select name="method" class="form-control">
                                                                            <option {% if payment.method is not defined %} selected="selected" {% endif %} value="">{{ "--Choisir une méthode--"|trans }}</option>
                                                                            <option {% if payment.method is defined and payment.method=="Credit Card" %} selected="selected" {% endif %} value="Credit Card">{{ "Carte bancaire"|trans }}</option>
                                                                            <option {% if payment.method is defined and payment.method=="Cash" %} selected="selected" {% endif %} value="Cash">{{ "Espèces"|trans }}</option>
                                                                            <option {% if payment.method is defined and payment.method=="Transfer" %} selected="selected" {% endif %} value="Transfer">{{ "Virement"|trans }}</option>
                                                                            <option {% if payment.method is defined and payment.method=="Other" %} selected="selected" {% endif %} value="Other">{{ "Autre"|trans }}</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <br/>
                                                                <div class="form-group">

                                                                    <div class="col-lg-5">
                                                                        <label class="control-label">{{ "Note"|trans }}:</label>
                                                                    </div>

                                                                    <div class="col-lg-8">
                                                                        <input type="text" class="form-control" name="note" value="{{ payment.note }}">
                                                                    </div>

                                                                </div>


                                                            </div>

                                                            <div class="modal-footer">
                                                                <input type="hidden" name="id" value="{{ payment.id }}">
                                                                <button type="submit" class="btn btn-primary">{{ "Sauvegarder"|trans }}</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>{{ "Intitulé"|trans }}</th>
                                    <th>{{ "Montant"|trans }}</th>
                                    <th>{{ "Catégorie"|trans }}</th>
                                    <th>{{ "Méthode"|trans }}</th>
                                    <th>{{ "Date"|trans }}</th>
                                    <th>{{ "Note"|trans }}</th>
                                    <th>{{ "Actions"|trans }}</th>
                                </tr>
                                </tfoot>
                            </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>